---
import type { ImageMetadata } from 'astro'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { IoArrowForward } from 'react-icons/io5'
import Masthead from '../components/Masthead.astro'
import { Image } from 'astro:assets'
import CreatedWithSection from '../components/CreatedWithSection.astro'

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif}'
)
console.log('images:', images)

const posts = Object.values(
  import.meta.glob('./posts/*.md', { eager: true })
).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.createdAt).valueOf() -
    new Date(a.frontmatter.createdAt).valueOf()
)
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Masthead />
      <Content>
        <section>
          <p class="mb-8 indent-4">
            I am a tenure-track associate professor at the School of
            Mathematical Sciences, Shanghai Jiao Tong University. My research
            interests include Computational Mathematics and Machine Learning. I
            am particularly interested in the design and implementation of AI
            inspired numerical algorithms for scientific problems, such as
            solving kinetic equations, high-dimensional PDEs, and inverse
            problems.
            <!-- <a
              class="inline-flex items-center gap-1 indent-1 text-orange-500"
              href={HOMEPAGE_URL}
              >Learn more about me <IoArrowForward className="inline" />
            </a> -->
          </p>
        </section>
        <section>
          <ul class="grid grid-cols-1 gap-4 md:grid-cols-2">
            {
              posts.map((post: any) => {
                const heroImageAsset = images[post.frontmatter.heroImage]
                const heroImageSrc = heroImageAsset
                  ? heroImageAsset()
                  : post.frontmatter.heroImage
                return (
                  <li class="mb-4 text-center">
                    <a href={post.url}>
                      <Image
                        class="rounded-xl border border-slate-300 dark:border-zinc-700"
                        src={heroImageSrc}
                        width={720}
                        height={720 / 1.777}
                        alt="Thumbnail"
                      />
                      <div class="mt-3 text-xl font-bold">
                        {post.frontmatter.title}
                      </div>
                      {post.frontmatter.description && (
                        <div class="opacity-70">
                          {post.frontmatter.description}
                        </div>
                      )}
                    </a>
                  </li>
                )
              })
            }
          </ul>
        </section>
        <CreatedWithSection />
      </Content>
    </main>
    <Footer />
  </Body>
</html>
