---
import { PublicationAccordion } from '@/components/PublicationList'
import PageLayout from './PageLayout.astro'

const { title, description, author, minutesRead, lastModifiedTime } =
  Astro.props
---

<PageLayout>
  <h1 class="pt-12">{title}</h1>
  <p>{description}</p>
  <p class="opacity-75">Contributors: {author}</p>
  <p class="mb-4 text-sm opacity-75">
    Last modified: {lastModifiedTime} · {minutesRead}
  </p>
  <hr />
  <slot />
  <h2 class="mt-20 mb-6 text-2xl">References</h2>
  <PublicationAccordion client:load />
</PageLayout>
