---
import PageLayout from './PageLayout.astro'

const { title, description, author, minutesRead, lastModifiedTime } =
  Astro.props
---

<PageLayout>
  <h1 class="pt-12">{title}</h1>
  <p>{description}</p>
  <p class="opacity-75">Author: {author}</p>
  <p class="mb-4 text-sm opacity-75">
    Last modified: {lastModifiedTime} · {minutesRead}
  </p>
  <hr />
  <slot />
</PageLayout>
